#!/usr/bin/make -f

#DH_VERBOSE=1
DHFLAGS=--parallel

#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#DPKG_EXPORT_BUILDFLAGS = 1
#include /usr/share/dpkg/buildflags.mk

%:
	dh $@ $(DHFLAGS)

override_dh_auto_clean:
	dh_auto_clean --buildsystem=cmake

override_dh_auto_build:
	dh_auto_build --buildsystem=cmake

override_dh_install:
	dh_install --list-missing

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DENABLE_BUDGIE=ON \
		-DENABLE_MATE=ON \
		-DENABLE_VALAPANEL=ON \
		-DENABLE_XFCE=ON \
		-DCMAKE_INSTALL_LIBEXECDIR=/usr/lib

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/budgie-desktop/plugins/appmenu-budgie
	mv $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/budgie-desktop/plugins/* $(CURDIR)/debian/tmp/usr/lib/budgie-desktop/plugins/appmenu-budgie
	#mkdir -p $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/mate-panel
	#mv $(CURDIR)/debian/tmp/usr/lib/mate-panel/appmenu-mate $(CURDIR)/debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/mate-panel/

override_dh_installgsettings:
ifeq ($(shell dpkg-vendor --derives-from Ubuntu && echo ubuntu),ubuntu)
	dh_installgsettings --priority=15
endif

override_dh_strip:
	dh_strip --package=budgie-appmenu-applet
	dh_strip --package=mate-applet-appmenu
	dh_strip --package=xfce4-appmenu-plugin
	dh_strip --package=vala-panel-appmenu

override_dh_makeshlibs:
	dh_makeshlibs -Xbudgie -Xmate -Xvala-panel -Xxfce4

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
