#!/usr/bin/make -f

DHFLAGS=--buildsystem=cmake --parallel

%:
	dh $@ $(DHFLAGS)

override_dh_auto_build:
	docbook-to-man debian/vala-panel.1.sgml > debian/vala-panel.1
	dh_auto_build

override_dh_install:
	dh_install --list-missing

override_dh_auto_configure:
	dh_auto_configure \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DGSETTINGS_COMPILE=OFF \
		-DENABLE_WNCK=ON

override_dh_strip:
	dh_strip --package=vala-panel
	dh_strip --package=vala-panel-plugins-base
	dh_strip --package=vala-panel-plugins-wnck

get-orig-source:
	uscan --noconf --force-download --rename --download-current-version --destdir=..
